<%= form_for @localizacion, :html => { :class => "form-horizontal localizacion" } do |f| %>

    <% if @localizacion.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@localizacion.errors.count, "error") %> prohibited this localizacion from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @localizacion.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :region, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :region, :class => 'form-control' %>
    </div>
    <%= error_span(@localizacion[:region]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            localizacions_path, :class => 'btn btn-default' %>

<% end %>
