<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Nick:</strong>
  <%= @usuario.nick %>
</p>

<p>
  <strong>Id t:</strong>
  <%= @usuario.id_t %>
</p>

<p>
  <strong>Id local:</strong>
  <%= @usuario.id_local %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
