<h1>Listing reclamos</h1>

<table>
  <thead>
    <tr>
      <th>Tweet</th>
      <th>Compania</th>
      <th>Tipo</th>
      <th>Servicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reclamos.each do |reclamo| %>
      <tr>
        <td><%= reclamo.tweet %></td>
        <td><%= reclamo.compania %></td>
        <td><%= reclamo.tipo %></td>
        <td><%= reclamo.servicio %></td>
        <td><%= link_to 'Show', reclamo %></td>
        <td><%= link_to 'Edit', edit_reclamo_path(reclamo) %></td>
        <td><%= link_to 'Destroy', reclamo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reclamo', new_reclamo_path %>
