<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet:</strong>
  <%= @reclamo.tweet %>
</p>

<p>
  <strong>Compania:</strong>
  <%= @reclamo.compania %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @reclamo.tipo %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= @reclamo.servicio %>
</p>

<%= link_to 'Edit', edit_reclamo_path(@reclamo) %> |
<%= link_to 'Back', reclamos_path %>
